__pycache__/
*.py[cod]
.venv/
venv/
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/

outputs/*
!outputs/.gitkeep
!outputs/models/.gitkeep
!outputs/plots/.gitkeep

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
